@import 'reset';
@import 'fonts';
$fa-font-path: "../../bower_components/font-awesome/fonts";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";


*{
	box-sizing:border-box;
	-moz-box-sizing:border-box; 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*************************************************
* COLORES
*************************************************/
$black:#000;
$white:#fff;
$gray:#2a2f30;
$grayLine:#435257;
$grayAnswer:#657679;
$btn:#25bbbb;
$color-progress-bg: #1d2121;
$color-green: #77b452;
$color-orange: #bc9135;
$color-red: #e8524b;



/*************************************************
* FUENTES
*************************************************/

$Regular: 'montserratregular', Helvetica, Arial, sans-serif;
$Black: 'montserratblack', Helvetica, Arial, sans-serif;
$Bold: 'montserratbold', Helvetica, Arial, sans-serif;
$Light: 'montserratlight', Helvetica, Arial, sans-serif;
$Line: 'montserrathairline', Helvetica, Arial, sans-serif;

/*************************************************
* DEVIDE SIZES
*************************************************/

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

/*************************************************
* MIXINS
*************************************************/

@mixin mobile {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin transicion($prop, $time, $ease, $delay)
{
	-webkit-transition: $prop $time $ease $delay;
	-moz-transition: $prop $time $ease $delay;
	-ms-transition: $prop $time $ease $delay;
	-o-transition: $prop $time $ease $delay;
	transition: $prop $time $ease $delay;
}

@mixin boton()
{
	width: auto;
	height: auto;
    padding: 12px 49px;
	background: $btn;
	border: none;
	cursor:pointer;
	color: $black;
	text-decoration: none;
	text-transform: uppercase;
	font-family: $Regular;
	font-size:14px;
	border-radius: 0.25em;
	text-align: center;
	position: relative;
	display: inline-block;
	letter-spacing: 1px;
	float: left;
	display: block;
	position: relative;
	outline:none;
	left: 50%;
	margin-left: -72.5px;
	@include transicion(background, 0.35s, ease, 0s);
}

@mixin boton_hover()
{
	background: $white;
}

@mixin checkbox()
{
	[type="checkbox"]:not(:checked),
	[type="checkbox"]:checked {
	  position: absolute;
	  left: -9999px;
	}
	[type="checkbox"]:not(:checked) + label,
	[type="checkbox"]:checked + label {
	  position: relative;
	  padding-left: 25px;
	  padding-top:2px;
	  font-family: $Regular;
	  color:$grayAnswer;
	  cursor: pointer;
	}

	[type="checkbox"]:not(:checked) + label:before,
	[type="checkbox"]:checked + label:before {
	  content: '';
	  position: absolute;
	  left:0; 
	  top: 2px;
	  width: 17px; 
	  height: 17px;
	  border-radius: 50%;
	  border: 1px solid $btn;
	  background: $btn;
	}
	
	[type="checkbox"]:not(:checked) + label:after,
	[type="checkbox"]:checked + label:after {
	  content: '✔';
	  position: absolute;
	  top: 4px;
      left: 4px;
	  font-size: 18px;
	  line-height: 0.8;
	  color: $gray;
	  font-family: $Bold;
	  @include transicion(all, 0.2s, ease, 0s);
	}
	/* checked mark aspect changes */
	[type="checkbox"]:not(:checked) + label:after {
	  opacity: 0;
	  transform: scale(0);
	}
	[type="checkbox"]:checked + label:after {
	  opacity: 1;
	  transform: scale(1);
	}

	/* accessibility */
	[type="checkbox"]:checked:focus + label:before,
	[type="checkbox"]:not(:checked):focus + label:before {
	  border: 1px dotted blue;
	}

	/* hover style just for information */
	label:hover:before {
	  border: 2px solid $white!important;
	}
}

@mixin multi-column-list($column-width, $column-rule-style) {
  -webkit-column-width: $column-width;
  -moz-column-width: $column-width;
  -o-column-width: $column-width;
  -ms-column-width: $column-width;
  column-width: $column-width;

  -webkit-column-rule-style: $column-rule-style;
  -moz-column-rule-style: $column-rule-style;
  -o-column-rule-style: $column-rule-style;
  -ms-column-rule-style: $column-rule-style;
  column-rule-style: $column-rule-style;
}

$progress-width: 395px;
$progress-height: 22px;

body {
	width: 100%;
	height: 100%;
	font-weight: normal;
	background: $gray;
	.container {
		display: block;
		margin:0 auto;
		color:$white;
		width: 560px;
		@include mobile {
			width: 280px;
		}
		.progress {
			background-color: $color-progress-bg;
			height: $progress-height;
			position: relative;
			border-radius:15px;
			border:3px solid #000;
			box-shadow: inset 0 -1px 1px rgba(255,255,255,0);
			margin: 10px auto 40px;
			.bar {
				@include transicion(width, 1s, linear, 0s);
				height: 100%;
				position: relative;
				overflow:hidden;
				border-top-left-radius: 20px;
				border-bottom-left-radius: 20px;
				display:block;
				box-shadow: inset 0 2px 9px  rgba(255,255,255,0),inset 0 -2px 6px rgba(0,0,0,0);
			}
			.green {
				background: $color-green;
			}
			.orange {
				background: $color-orange;
			}
			.red {
				background: $color-red;
			}
			.final {
				border-top-right-radius: 20px;
				border-bottom-right-radius: 20px;	
			}
		}
		
		.title {
			text-transform: uppercase;
			text-align: center;
			font-family: $Bold;
			font-size: 60px;
			margin-top: 50px;
			padding-bottom: 50px;
			border-bottom:1px solid $grayLine;
		}
		.question {
			font-family: $Regular;
			font-size: 20px;
	    	line-height: initial;
	    	text-align: center;
	    	margin-top: 30px;
		}
		.subtitle {
			text-align: center;
			font-family: $Regular;
			font-size: 14px;
		    line-height: initial;
	        width: 66%;
    		margin: 30px auto;
    		@include mobile {
    			width: 100%;
			}
		}
		.normal-button, .big-button {
			@include boton();
			&:hover{
				@include boton_hover();
			}
		}
		.big-button{
			margin-left: -83.5px;
		}
		
		.section-question {
			width: 75%;
			display: block;
			margin: 40px auto 0;
			.number-question {
				text-transform: uppercase;
				text-align: center;
				font-family: $Regular;
			    font-size: 14px;
    			letter-spacing: 2px;
			}
			.answers {
				list-style: none;
			    padding: 0;
			    margin: 50px auto 25px;
			    height: 100px;
			    width: 200px;
			    left: 50%;
			    position: relative;
			    margin-left: -100px;
			    position: relative;
			    @include multi-column-list(200px, solid);

			    li {
				    display: inline-block;
				    padding: 15px 20px;
				    @include checkbox();
				}
			}
		}
		.list-answers {
			display: block;
			float: left;
			width: 100%;
		    margin-top: 30px;
			ul {
				list-style: none;
				padding: 0;
				margin: 0;
				li {
					border-top: 1px solid $grayLine;
					color:$white;
					font-family: $Regular;
					font-size: 14px;
					text-align: center;
					padding: 15px 20px;
					.ok {
					    color: $color-green;
						font-size: 20px;
						vertical-align: middle;
						font-size: 16px;
						font-family: $Regular;
						margin-top:10px;
					}
					.ko {
						font-size: 20px;
						vertical-align: middle;
						color:$color-red;
						font-size: 16px;
						font-family: $Regular;
						margin-top:10px;
					}
					i {
						font-size: 25px;
						vertical-align: middle;
						padding-right: 5px;

					}
					.correct-answer{
						color:$grayAnswer;
					}
				}
			}
		}
	}
}
